*{
	margin: 0;
	padding: 0;
}

.container{
	width: 1140px;
	margin: 0 auto;
}

.green{
    color: #82ae46;
}
.bg-green{
   background-color: #82ae46;
}

a {
	text-decoration: none;
}

/*
font-family: 'Amatic SC', cursive;
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

/* header  css */

header {
	width: 100%;
}
.header-t{
	width: 100%;
	background-color: #82ae46;
	padding: 8px 0px;
}

.header-t span{
	color: white;
	font-size: 11px;
	font-family: 'Poppins', sans-serif;


}

.first{
    float: left;
    width: 30%;
}

/*.middle{
    margin-left: 140px ;
}*/



.last {

	float: right;
}

/* header  menu css */

.menu-row{
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
}

.txt-logo{
   font-weight: 800;
   font-size: 20px;
   text-transform: uppercase;
   font-family: 'Poppins', sans-serif;

   color:#82ae46 ;
}


.m-list ul li{
	list-style: none;
    display: inline-block ;
    margin-left: 20px;
    line-height: 1.7;
    
}

.m-list ul li a{
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    letter-spacing: 2px;
}


/* banner section css */


.banner{
	width: 100%;
	background-image: url(../img/banner2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	background-blend-mode: soft-light;
	padding: 120px 0px;

}

.banner-content{
	text-align: center;

}

.banner-content h1{
	
	font-size: 150px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    font-family: "Amatic SC", cursive;


}

.banner-content p {
	    font-weight: 300;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 32px; 
}

.b-btn{
	background-color: #82ae46;
	color: white;
	padding: 8px 12px;
	font-size: 16px;
	border-radius: 35px;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
    border: 2px solid #82ae46;

}

.b-btn:hover{
	background-color: transparent;
	border: 1px solid #82ae46;
}










/* features section css */

.feature{
	width: 100%;
	padding: 100px 0px;
}

.f-item-row{
	display: grid;
	text-align: center;
    grid-template-columns: auto auto auto auto;
}

.f-item img{
	width: 60px;
	margin-top: 26px;
	filter: invert(1);
}

.f-item h6{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
}

.f-item p{
   text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;

}

.f-item span{

	display: inline-block;
   
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: relative;
}

.f-item:nth-child(1) span{

        background: #e4b2d6;

}

.f-item:nth-child(2) span{

        background: #dcc698;

}

.f-item:nth-child(3) span{

       background: #a2d1e1;


}

.f-item:nth-child(4) span{

        background: #dcd691;

}

.f-item span:hover{
	background-color: #82ae46 ;
}

.f-item span::before{
	content: '';
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
} 




/* category section css */


.f-category{
	width: 100%;
	padding: 100px 0px;
}

.category-row{
	display: flex;
}
.fc-item{

  flex-basis: 33%;

}
.images div{
	height: 250px;
	overflow: hidden;
}

.images{
	
	position: relative;
	margin: 24px 12px;

}




.images a{
	position: absolute;
	color: white;
	bottom: 0px;
	left: 0px;
	background:  #82ae46;
	padding: 10px 20px;
	display: inline-block;
	font-family: 'Poppins', sans-seri
}
.images img {
	max-width: 100%;
	height: auto;
}

.b-img{
	text-align: center;
	background-image: url(../img/veg3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	margin: 24px;
}

 .b-img h3{
    color: #82ae46;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
 }

 .b-img p{
 	font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    padding: 18px 0px;
 }

.fc-item .b-btn:hover{
	background: transparent;
	border: 1px solid #82ae46;
	color: #82ae46 ;
}




/*product setion CSS*/


.product{
	width: 100%;
	margin: 80px;
}

.product-desc{
	text-align: center;
	margin-bottom: 40px;
}

.product-desc h6{
	 font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora",Georgia,serif;
    font-style: italic;
    color: #82ae46;
    font-weight: 500;
}


.product-desc h2{

    font-size: 40px;
    font-weight: 600;
    color: #000;
    font-family: "Poppins",Arial,sans-serif;
}

.product-desc p{
	font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    padding: 18px 0px;
}


.product-gallery{
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 32px;
    grid-row-gap: 32px;
}

.product-item img{
	width: 250px;
	margin-bottom: 16px;
}

.product-item{
	text-align: center;
	border: 1px solid #eee;
    padding: 24px 0px;
    position: relative;
}


.product-item h6 a{
	  font-family: "Poppins", Arial, sans-serif;
	  font-weight: 400;
	  color: #000000;
	  font-size: 15px;
    margin-bottom: 5px;
   
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 16px;
    display: inline-block;

}

.price span{
	font-family: "Poppins", Arial, sans-serif;
    color: #82ae46;
    font-weight: 400;
    line-height: 1.8;
}
.price span del{
     font-family: "Poppins", Arial, sans-serif;
    color: #b3b3b3;
    font-size: 15px;
    line-height: 1.8;
}

.offer {
	background: #82ae46 ;
	font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    padding: 4px 6px;
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 1px;

}

.product-meta a i{
	height: 40px;
	width: 40px;
	background:#82ae46 ;
	color: white;
	border-radius: 100%;
	line-height: 40px;
}

.product-meta{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 1s;

}

.product-item:hover .product-meta{
	opacity: 1;
	transition: 1s;

}

.product-item:hover .price{
	opacity: 0;
}

.product-item:hover img{
	transform: scale(1.1);
	transition: 0.3s;
}

.product-item:hover{
  box-shadow: 0px 7px 15px -5px rgb(0 0 0 / 7%);

}











/* deal section css */

.deals{

	width: 100%;
	background-image: url(../img/bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	padding: 100px;
}

.count{
	height: 100px;
}

.deal-row{
	display: flex;
}
.deal-left,.deal-right{
	flex-basis: 50%;
}


.deal-right h6{
	font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #82ae46;

    font-weight: 500;
 
}
.deal-right{
	text-align: left;
}
.deal-right h2{

    font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
      margin-bottom: 15px;
}

.deal-right p{
     font-family: "Poppins", Arial, sans-serif;
   
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    margin-bottom: 15px;
}

.deal-right h3{
    font-size: 30px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #82ae46;
    font-weight: 400;
      margin-bottom: 15px;
}


.deal-right .price span:first-child {
     
        color: #b3b3b3;

}





/*  testimonial css  */


.testimonial{
	width: 100%;
	padding: 100px 0px;
}

 /*testimonial section CSS*/


.testm-gallery{
	margin-top: 4rem;
	display: grid;
	grid-template-columns: auto auto auto;

}

.owl-carousel .item .testm-item .user-img img{
  
    width: 100px;
    border-radius: 100%;
}

.testm-item {
	text-align: center;
	padding:  0px 32px;
}

.user-img{
	margin-bottom:28px ;
	position: relative;
	display: inline-block;
}

.testm-item p{
	font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    margin-bottom:42px ;
    border-left: 2px solid #eee;
    padding: 0px 18px;
    position: relative;
}

.testm-item p::before{
	content: '';
	height: 30px;
	width: 2px;
	background-color: #82ae46;
	position: absolute;
	left: -2px;
	top: 50%;
	transform: translateY(-50%);
}
.testm-item h4{
  	 font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    color: #000000;
    margin: 16px 0px;
    font-family: "Poppins", Arial, sans-serif;
  }

.testm-item h6{
	font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
}

.user-img i{ 
    
    height: 40px;
    width: 40px;
    background: white;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    color: #82ae46;
    position: absolute;
    right: 0px;
    bottom: 0px;
 }

 .mt-4{
 	margin-top: 4rem;
 }


/*.images img {
	max-width: 100%;
	height: auto;
}*/

/* footer image css */

.line-br{ 
	margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
}

.footer-img{
	width: 100%;
	
 	margin-top: 4rem;
 

}
.img-row {
	display: flex;
}

.img-row img {
	

    border-style: none;
    width: 160px;
    margin-bottom: 24px;
    margin-right: 78px;
}

/*  form css */

.subscribe {
    width: 100%;
    background-color: #f7f6f2;
    position: relative;
}

.subs-row {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.subs-title h2 {
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    font-family: "Poppins",Arial,sans-serif;
}

.subs-title p {
    font-family: "Poppins",Arial,sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

.sub-form {
    display: flex;
}

input {
    height: 46px;
    width: 400px;
    border-style: none;
    padding: 0px 10px;
    border: none;
}
form {
    display: block;
    margin-top: 0em;
}
div {
    display: block;
}

.sub-form a {
    background-color: #82ae46;
    width: 100px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: white;
    font-size: 12px;
    font-family: "Poppins",Arial,sans-serif;
}

/*
main footer css
*/

.footerm{
    width: 100%;
    padding: 100px 0px;
}
.footer-content{
    display: flex;
}

.foot-1{
    flex-basis: 20%;
    margin-right: 36px;
}
.foot-2{
    flex-basis: 20%;
}
.foot-3{
    flex-basis: 40%;
} 
.foot-4{
    flex-basis: 20%;
}
.footer-content h6{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
    font-family: "Poppins",Arial,sans-serif;

}

.footer-content p{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
    font-family: "Poppins",Arial,sans-serif;
    
}
.foot-icon{
    margin-top: 42px;

}

.foot-icon i {
    height: 40px;
    width: 40px;
    background-color: #f5f5f5;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.foot-4 i {
    margin-right: 16px;
}

.f-men li{
    list-style: none;
    margin-bottom: 16px;

}
.f-men li a{
     font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
    font-family: "Poppins",Arial,sans-serif;

}

.copyright{
     font-size: 14px;
    font-weight: 400;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Poppins",Arial,sans-serif;

}

.copyright a{
    color: #82ae46 !important;
}